@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

@layer base {
  .bg-nav {
    background: rgba(226, 232, 237, 0.5);
  }
  .bg-success {
    background: rgba(92, 181, 49, 0.1);
    position: relative;
  }
  .bg-success::before {
    position: absolute;
    content: '';
    background: #5cb531;
    height: 48px;
    width: 13px;
    top: 0;
    border-radius: 6px 0 0 6px;
  }
  .bg-select {
    background: rgba(229, 229, 229, 0.38);
  }
  .active div {
    background-color: #fec40e;
    padding-left: 40px;
    margin-left: -40px;
    margin-right: -40px;
    transition: all 0.33s;
  }

  .active div:hover {
    color: white;
  }
}
